html{
    font-size: 62.5%; /* 16px*62.5%=10px=1rem */
    box-sizing: border-box;
}

body{
    font: 1.5rem Helvetica;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* React */
#root{
    height: 100%;
}

/* Command */
li{
    list-style-type: none;
    margin: 0.5rem;   
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;  
}

a{
    text-decoration: none;
    color: white;
}

small{
    font-size: 80%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}





